.App {
  width: 100vw;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  color: #464443;
}

.btn {
  border: none;
  color: #ffffff;
  margin-top: 30px;
  width: 50px;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.btn-quiz {
  background-color: #4CAF50;
  border-radius: 15px 0 0 15px;
}

.btn-learn {
  background-color: #1E90FF;
  border-radius: 0 15px 15px 0;
}